:root {
    --main-bg-color: black;
    /* background-color: rgba(0.2, 0.2, 0.2,0.8); */
    cursor:  url(./cursor.png), auto  ; 
      background: url(../public/WATER1.jpg)   ;
    
    --main-bg-cursor: url(./cursor.png), auto, ; 
  }
  
 